<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Bundle
      Name="RB4InstrumentMapper"
      Version="5.1.1.0"
      Manufacturer="Andreas Schiffler"
      UpgradeCode="94bef546-701f-4571-9828-d4fa39b2ea84"
      DisableModify="yes">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="rtfLicense"
          LicenseFile="$(ResourcesDir)license.rtf"
          LogoFile="$(ResourcesDir)icon.ico"
          SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <!-- Visual C++ setup based on https://gist.github.com/nathancorvussolis/557d1c4faccd5c83d88be606c60430d0 -->

    <!-- Get processor architecture -->
    <util:RegistrySearch
      Id="REG_ARCH"
      Root="HKLM"
      Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
      Value="PROCESSOR_ARCHITECTURE"
      Result="value"
      Variable="ARCH_NAME" />

    <!-- Check for Visual C++ redistributable -->
    <util:ProductSearch
      Id="VCRUNTIME_X64"
      After="REG_ARCH"
      UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35"
      Condition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
      Result="version"
      Variable="VCRUNTIME_X64_VER" />

    <!-- Expected redistributable version -->
    <Variable Name="VCRUNTIME_VER" Type="version" Value="14.40.33810.0" />

    <Chain>
      <!-- Visual C++ redistributable -->
      <ExePackage
          Id="VC_REDIST_X64"
          DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.40.33810"
          Cache="remove"
          PerMachine="yes"
          Permanent="false"
          Protocol="burn"
          InstallCondition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
          DetectCondition="(VCRUNTIME_X64_VER &gt;= VCRUNTIME_VER) AND VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">
        <ExePackagePayload
            Name="VC_redist.x64.exe"
            ProductName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.40.33810"
            Description="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.40.33810"
            Hash="5935B69F5138AC3FBC33813C74DA853269BA079F910936AEFA95E230C6092B92F6225BFFB594E5DD35FF29BF260E4B35F91ADEDE90FDF5F062030D8666FD0104"
            Size="25397512"
            Version="14.40.33810.0"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/1754ea58-11a6-44ab-a262-696e194ce543/3642E3F95D50CC193E4B5A0B0FFBF7FE2C08801517758B4C8AEB7105A091208A/VC_redist.x64.exe" />
      </ExePackage>

      <!-- GameInput redistributable -->
      <MsiPackage
          SourceFile="$(PkgMicrosoft_GameInput)\redist\GameInputRedist.msi"
          Permanent="false"
          ForcePerMachine="yes"
          Vital="yes"
          RepairCondition="true" />

      <!-- Program package -->
      <MsiPackage
          SourceFile="RB4InstrumentMapperPackage.msi"
          Permanent="false" />
    </Chain>

  </Bundle>

</Wix>
